<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cần thêm dòng này -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity (màn chọn để đăng ký ) -->
        <activity android:name=".RegisterActivity"/>

        <!-- MainActivity (màn hình giao diện chính) -->
        <activity android:name=".MainActivity"/>

        <!-- AppListActivity (màn chọn ứng dụng để chặn) -->
        <activity android:name=".AppListActivity" />

        <!-- UsageChartactivity (màn chọn thống kê thời gian sử dụng) -->
        <activity android:name=".UsageChartActivity" />

        <!-- ProfileActivity (màn chọn để đổi themes dựa trên Rank,Points) -->
        <activity android:name=".ProfileActivity"/>

        <!-- SettingsActivity (màn chọn để tùy chỉnh các lựa chọn setting) -->
        <activity android:name=".SettingsActivity"/>
        <!-- Accessibility Service -->
        <service
            android:name=".BlockerAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


    </application>
</manifest>
